<h1>zoek verkooppunten in uw gemeente van De Lijn</h1>

<form method="post" action="/result">
  <input type="text" name="stad" value="">

  <input type="submit" value="toon resultaten">
</form>

<%- verkoop %>
